{% extends 'backend.html.twig' %}
{% block title %}Pedidos{% endblock %}

{% block body %}

	{% if (app.request.attributes.get('_route')=='pedidos_procesados') %}
    	<h1>Pedidos Recepcionados</h1>
    {% else %}	
    	<h1>Pedidos Pendientes de Recepci칩n</h1>
    {% endif %}	


    <table>
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Fecha de pedido</th>
                <th>Fecha de entrega prevista</th>
                <th>Responsable de compra</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.idProveedor.nombre }}</td>
                <td>{% if pedido.fechaPedido %}{{ pedido.fechaPedido|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pedido.fechaEntregaPrevista %}{{ pedido.fechaEntregaPrevista|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pedido.responsableCompra }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pedidos_show', { 'id': pedido.id }) }}">Detalles</a>
                        </li>
                        {% if (app.request.attributes.get('_route')=='pedidos_index') %}
                            <li>
                                <a href="#">Procesar Albar치n</a>
                            </li>
                        {% else %}  
                        	<li>
                                <a href="#">Ver Albar치n</a>
                            </li>  

                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedidos_new') }}">Crear NUEVO pedido</a>
        </li>
        {% if (app.request.attributes.get('_route')=='pedidos_procesados') %}
            <li>
            	<a href="{{ path('pedidos_index') }}">Ver pedidos pendientes de recepci칩n</a>
            </li>
        {% else %}
            <li>
            	<a href="{{ path('pedidos_procesados') }}">Ver pedidos Recepcionados</a>
            </li> 
        {% endif %}       	
    </ul>
{% endblock %}
